<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.nestegg333.nestegg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:name="io.github.nestegg333.nestegg.NestEgg"
        android:icon="@drawable/nesteggicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".LogInActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FullPaymentActivity"
            android:label="@string/title_activity_full_payment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserSettingsActivity"
            android:label="@string/title_activity_user_settings" />
        <activity
            android:name=".NewPet"
            android:label="NewPet"
            android:theme="@style/AppTheme.NoActionBar"/>

        <receiver android:name=".services.Alarm">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name=".services.NotificationService">
        </service>
    </application>

</manifest>